@media (max-width:1000px){
    .videopage-helper{
        width: 100%;
        flex-direction: column;
    }
    .videopage-first{
        flex: none;
        width: 100%;
    }
    .videopage-second{
        width: 100%;
    }
}
@media (max-width:550px){
    .sidebar{
        width: 0px;
        padding-left: 0px;
    }
    header{
        height: 7%;
    }
    .header-third{
        width: 60%;
    }
    .tags-container{
        top: 7%;
    }
    .tagsSwiper{
        padding: 0px 7px;
    }
    .tag-next-div,
    .tag-prev-div,
    .sidebar-close,
    .sidebar-open,
    .tags-helper,
    .header-second,
    #h-download,
    #bm {
        display: none;
    }

    .mobile-search{
        display: flex;
    }
    main{
        top: calc(56px + 56px);
    }
    .grid{
        flex: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        padding: 0px;
        margin: 0px;
    }
    .grid a{
        flex: none;
        max-height: auto;
        min-height: auto;
        height: 350px;
        max-width: 100%;
        min-width: 100%;
        margin: 0px;
    }
    .video{
        max-width: 100%;
        width: 100%;
        margin-bottom: 0px;
        flex: none;
    }
    .thumbnail{
        border-radius: 0px;
    }
    .vid-details{
        padding: 7.5px;
        width: 100%;
        flex: none;
        display: flex;
        justify-content: space-between;
    }
    .vid-info{
        flex: 1;
        height:auto;
    }
    .vid-title{
        width: 100%;
        height: auto;
        font-weight: 500;
        font-size: 16px;
        overflow: hidden;
    }
    .vid-info-er{
        height: auto;
        width: 100%;
    }
    footer{
        display: flex;
    }
    
}