.grid{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px 0px;
}

.grid a{
    flex: 1;
    max-width: 382px;
    min-width: 300px;
    max-height: 340px;
    min-height: 250px;
    margin: 6px;
}