.tags-container{
    position: fixed;
    top: 9%;
    right: 0;
    left:0;
    display: flex;
    align-items: center;
    height: 56px;
    z-index: 9;
}
.tags-helper{
    width: calc(72px + 20px);
    transition: width 0.5s ease;
}
.tags-helper-active{
    width: calc(226px + 20px);
}
.tags-header{
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 15px;
    background-color: #fff;
}
.tags-unit{
    height: 32px;
    padding: 0px 12px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    transition: 0.25s ease;
}
.tags-unit-active{
    background-color: black;
    color: white;
}
.tags-unit:hover{
    background-color: rgba(0,0,0,0.1);
}
.tags-unit:active{
    background-color: rgba(0,0,0,0.15);
}